body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #090101;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}

h2 {
    margin-left: 50px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li:first-letter {
    text-transform: capitalize;
}

.float-left {
    height: 80px;
    width: 80px;
    position: relative;
    top: -16px;
}

.weather {
    background: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
    border: 2px solid rgb(28, 28, 30);
    border-radius: 20px;
    padding: 30px;
}

.temp {
    font-size: 60px;
}

.units {
    position: relative;
    top: -30px;
    text-decoration: none;
}

.wrapper {
    max-width: 600px;
    margin: 30px auto;
}

.row {
    margin-bottom: 10px;
}

.weather-forecast {
    margin-top: 20px;
    color: black;
}

.weather-forecast.date {
    font-size: 16;
    opacity: 0.5;
}

.forecast-min {
    opacity: 0.5;
}

.weather-forecast-temperature {
    font-size: 13px;
}

.col-2 {
    display: inline;
}